body, html {
	background-color: #eee;
	font-family:sans-serif;
}

.category {
	width: 70%;
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
    margin: 20px auto;
}

.category a {
    display: grid;
    padding: 5px 0px;
}

.category .banner {
	margin-bottom:10px;
}

h1, p.head {
	width:70%;
	margin:auto;
}